services:
  tmdb-spark-pipeline:
    build: .
    container_name: tmdb-spark-pipeline
    volumes:
      # Map local 'data' folder to container's 'data' folder
      # This allows you to see the downloaded/processed files on your machine
      - ./data:/app/data
      
      # Map local 'output' folder to see visualizations
      - ./output:/app/output
      
      # Map local 'logs' folder to persist logs
      - ./logs:/app/logs

    # Load environment variables (API Key) from your local .env file
    env_file:
      - .env
      
    environment:
      # efficient logging
      - PYTHONUNBUFFERED=1
