services:
  jupyter:
    build: .
    container_name: tmdb-spark-jupyter
    ports:
      - "8888:8888"   # Jupyter Notebook
    env_file:
      - .env
    environment:
      - PYSPARK_PYTHON=python3
      - JUPYTER_TOKEN=spark
      - DATA_DIR=/home/spark/data
    volumes:
      - ./notebooks:/home/spark/work
      - ./src:/home/spark/src
      - ./data:/home/spark/data
      - ./requirements.txt:/home/spark/requirements.txt
      - ./start-jupyter.sh:/usr/local/bin/start-jupyter.sh
    command: ["bash", "/usr/local/bin/start-jupyter.sh"]